* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    width: 100%;
}

#navbar {
    flex: 2.5;
    background-color: #000;
    max-height: 100vh;
    overflow-y: scroll;
}

#main-doc {
    flex: 7.5;
    background-color: #b3b3b3;
    max-height: 100vh;
    overflow-y: scroll;
}

nav {
    position: relative;
}

nav header {
    text-align: center;
    padding: 1.2rem 0;
    font-size: 1.8rem;
    font-weight: 500;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000;
    color: white;
}

main {
    padding: 3rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 0.8rem;
    border-top: 2px solid #fff;
}

nav ul li a {
    width: 100%;
    color: white;
}

nav ul li a:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

section header {
    font-size: 1.8em;
    margin: 1rem 0;
}

section article {
    margin: 15px;
    font-size: 0.96em;
}

article {
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;
}

@media (max-width: 1000px) {
    #navbar {
        flex: 4;
    }
    #main-doc {
        flex: 6;
    }
}

@media (max-width: 650px) {
    body {
        flex-direction: column;
    }
    #navbar,
    #main-doc {
        flex: auto;
    }
    #navbar {
        height: 35vh;
        overflow-y: scroll;
    }
}
